@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #faa500;
  --darker-orange: #ffb92d;
  --mid-light-orange: #f4be48;
  --light-orange: #f9d78d;
  --lighter-orange: #fbefcf;
  --tagline-orange: #FFC96C;
  --paragraph: #181818;
  --poppins: "Poppins", sans-serif;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100dvh;
  background-image: url('images/boodle.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: var(--poppins);
  animation: 1.5s fadeIn ease-in-out;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.425);
  pointer-events: none;
}

button {
  cursor: pointer;
}

.restaurantLogo {
  height: clamp(70px, 10vw, 90px);
}

header {
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 1.5rem 0 0 0;
  gap: 1rem;
  font-family: var(--poppins);;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.buttons button {
  background-color: transparent;
  border: 2px solid white;
  padding: 1px;
  height: clamp(20px, 20vw, 40px);
  width: clamp(60px, 25vw, 100px);
  border-radius: 16px;
  color: white;
  font-family: var(--poppins);
  font-size: clamp(12px, 3vw, 14px);
  font-weight: 500;
}

.buttons button:hover {
  background-color: white;
  color: var(--orange);
  transition: 0.3s ease-in-out;
}

#content {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1000;
  width: clamp(10rem, 80vw, 100rem);
  gap: 1rem;
}

figcaption h1 {
  font-size: clamp(48px, 6.2vw, 6.5rem);
  font-weight: 800;  
  color: white;
}

figcaption p{
  font-size: clamp(14px, 1.4vw, 1.25rem);
}

.boodle-figure img {
  width: clamp(320px, 60vw, 1000px);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 992px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  figcaption {
    text-align: center;
  }
}
