.menu-body {
  animation: 1.5s fadeIn ease-in-out;
}

.menu-foods {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  gap: 1rem;
  padding: 2rem;
  height: 100%;
}

.food-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1.5rem;
  width: clamp(300px, 50vw, 500px);
  color: var(--paragraph);
}

.food-item img {
  height: clamp(180px, 15vw, 220px);
  width: clamp(180px, 15vw, 220px);
  box-shadow: var(--box-shadow);
  border-radius: 13px;
}

header {
  padding: 1.5rem 0 2rem 0;
}

.menu-section {
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: #fffff1;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .menu-foods {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .food-item {
    padding: 2rem;
    flex-direction: column;
  }
}