@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #faa500;
  --mid-light-orange: #f4be48;
  --light-orange: #f9d78d;
  --lighter-orange: #fbefcf;
  --tagline-orange: #FFC96C;
  --nunito: "Nunito", sans-serif;
  --box-shadow: box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
  display: grid;
  grid-template-rows: 1fr 100dvh;
}

button {
  cursor: pointer;
}

.restaurantLogo {
  height: clamp(70px, 10vw, 75px);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 1rem 0;
  background-color: #fffff1;
  font-family: var(--nunito);
  box-shadow: var(--box-shadow);
}

.buttons {
  display: flex;
  gap: 2rem;
}

.buttons button {
  background-color: transparent;
  border: 0;
  padding: 3px 10px;
  color: var(--orange);
  font-family: var(--nunito);
  font-size: clamp(15px, 2vw, 16px);
  font-weight: bolder;
}

main{
    display: flex;
    height: 100%;
    background-color: var(--light-orange);
}

.firstSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: clamp(300px, 30vw, 800px);
    width: 100%;
    padding: 4rem;
}

.taglineContainer {
    font-family: var(--nunito);
    padding: 0 clamp(5rem, 2vw, 4rem)  0 (5rem, 2vw, 4rem);
    
}

.taglineContainer h1{
    font-size: clamp(35px, 5.5vw, 115px);
    color: transparent;
    -webkit-text-stroke: 2px var(--orange);
}

.taglineContainer p{
    font-size: clamp(12px, 5vw, 20px);
}

.fastFoodImageContainer{
    padding: 4rem;
}

.fastFoodImage{
    width: clamp(250px, 21.5vw, 500px);
}

@media screen and (max-width: 992px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  main{
    justify-content: center;
  }

  .firstSection{
    padding: 0;
    text-align: center;
    flex-direction: column-reverse;
  }

  .taglineContainer {
    padding: 1rem;
  }

  .fastFoodImageContainer{
    padding: 2rem 0 0 0;
  }
}
